<head>
<style>
  head {
    text-align: center;
  }
  body {
    text-align: center;
    margin: justify;
    background-image: url("http://www.gpwa.org/forum/images/imported/2014/01/funnygifswhennoonesaroundlarge-1.gif");
    background: transparent\40;
  }
  .square {
  width: 80px;
  height: 80px;
  text-align: center;
  font-weight:
}
</style>
</head>
